.background {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Roboto";
  color: #f8fafc;
  margin-bottom: 10px;
}
.image {
  height: 120px;
  width: 100px;
}
